kafka:
  hosts: localhost:9092

sdr_events:
  enabled: false
  mq:
    vhost: /
    hostname: localhost
    username: guest
    password: guest

environments:
  folio_test:
    database_url: <%= ENV['FOLIO_TEST_DATABASE_URL'] || ENV['DATABASE_URL'] %>
    processes: 1
    full_dump_processes: 12
    kafka_topic: marc_folio_test
    folio_version: poppy
    blackout_periods:
      - start: '2025-09-01T23:00:00-07:00'
        end: '2025-09-04T23:00:00-07:00'
  folio_prod:
    database_url: <%= ENV['FOLIO_PROD_DATABASE_URL'] %>
    processes: 1
    full_dump_processes: 24
    kafka_topic: marc_folio_prod
    folio_version: poppy
    blackout_periods:
      - start: '2025-12-19T16:00:00-08:00'
        end: '2025-12-22T09:00:00-08:00'
