name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ["3.4", "4.0"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      # Needed until runner permissions issue is resolved:
      # https://github.com/actions/runner-images/issues/13647
      - name: Fix gem directory permissions
        run: sudo chmod +t $(ruby -e 'puts Gem.default_dir')/gems
      - name: Install dependencies
        run: bundle config set without 'production' && bundle install
      - name: Run tests
        run: bundle exec rake
